@font-face {
    font-family: 'monospace';
    src: url('CutiveMono-Regular.ttf') format('truetype'),
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black;
    user-select: none;
    cursor: url('pointer.cur'), auto;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    position: relative;
    perspective: 1000px;
    z-index: 9999;
}

.card {
    width: 350px;
    height: 200px;
    background: linear-gradient(135deg, #020202 0%, #212931 100%);
    border-radius: 15px;
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.3);
    padding: 20px;
    color: white;
    font-family: 'Arial', sans-serif;
    position: relative;
    transition: transform 0.2s;
    transform-style: preserve-3d;
}

.card-balance {
    font-size: 12px;
    color: #a8b3bb;
    font-family: monospace;

}

.card-coins {
    font-size: 20px;
    margin-bottom: 20px;
}

.card-account-holder {
    font-size: 12px;
    color: #a8b3bb;
    font-family: monospace;
}

.card-name {
    font-size: 16px;
    margin-bottom: 20px;
}

.card-number {
    font-size: 18px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.card-expiry {
    font-size: 12px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #a8b3bb;
    font-family: monospace;
}

.card-logo {
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    right: 20px;
    color: #7f96a565;
}

.chip {
    width: 50px;
    height: 40px;
    background-image: url('chip.png'); /* Use the PNG image as background */
    background-size: contain; /* Ensure the entire background image is contained within the .chip element */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    position: absolute;
    top: 60px;
    left: 20px;
    border-radius: 5px;
}

.date {
    font-size: 12px;
    position: absolute;
    bottom: 20px;
    left: 100px;
}
#rain-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
